<main class="relative w-full flex-grow p-6 sm:h-full">
  <div class="flex flex-wrap md:mt-6 w-full overscroll-contain sm:h-full">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
