<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "HousekeepingBook" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="flex bg-gray-100">
    <.nav_layout>
      <:top_button>
        <.link
          href={~p"/records/new"}
          class="w-full bg-white hover:text-primary font-semibold py-2 mt-5 rounded-br-lg rounded-bl-lg rounded-tr-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center"
        >
          <.icon name="hero-plus-mini" /> New Record
        </.link>
      </:top_button>
      <:menu_item :if={@current_user}>
        <.link href={~p"/records"}>
          Records
        </.link>
      </:menu_item>
      <:menu_item :if={@current_user}>
        <.link href={~p"/categories"}>
          Categories
        </.link>
      </:menu_item>
      <:menu_item :if={@current_user}>
        <.link href={~p"/admin/users"}>
          Users
        </.link>
      </:menu_item>
      <:menu_item :if={@current_user}>
        <.link href={~p"/tags"}>
          Tags
        </.link>
      </:menu_item>
      <:menu_item :if={!@current_user}>
        <.link href={~p"/users/log_in"}>
          Log In
        </.link>
      </:menu_item>
      <:top_profile :if={@current_user}>
        <div class="flex-row text-center">
          <button
            phx-click={JS.toggle(to: ".profile-openable")}
            class="realtive z-10 w-10 h-10 rounded-full overflow-hidden border-4 border-gray-400 hover:border-gray-300 focus:border-gray-300 focus:outline-none"
          >
            <img src="https://source.unsplash.com/uJ8LNVCBjFQ/400x400" />
          </button>
          <span class="text-xs flex"><%= @current_user.name %></span>
        </div>
        <button
          phx-click={JS.hide(to: ".profile-openable")}
          class="hidden h-full w-full fixed inset-0 cursor-default"
        >
        </button>
        <div
          phx-click-away={JS.hide()}
          class="profile-openable absolute w-32 bg-white rounded-lg shadow-lg py-2 mt-16 hidden"
        >
          <.link
            href={~p"/users/settings"}
            class="block px-4 py-2 account-link hover:text-zinc-100"
          >
            Settings
          </.link>
          <.link
            method="DELETE"
            href={~p"/users/log_out"}
            class="block px-4 py-2 account-link hover:text-zinc-100"
          >
            Log Out
          </.link>
        </div>
      </:top_profile>
      <:top_profile :if={!@current_user}>
        <.link href={~p"/users/log_in"} class="block px-4 py-2 hover:text-zinc-100">
          Log In
        </.link>
        <.link href={~p"/users/register"} class="block px-4 py-2 hover:text-zinc-100">
          Register
        </.link>
      </:top_profile>
      <div class="w-full overflow-x-hidden border-t flex flex-col">
        <%= @inner_content %>
      </div>
    </.nav_layout>
  </body>
</html>
